<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blblog.qa.mapper.BlblogProblemMapper">
    <sql id="table_columns">
        id,
        title,
        content,
        createtime,
        updatetime,
        userid,
        nickname,
        visits,
        thumbup,
        reply,
        solve,
        replyname,
        replytime,
        deleted
    </sql>
    <select id="newList" resultType="entity.BlblogProblem">
        SELECT <include refid="table_columns" />
        FROM blblog_problem p JOIN blblog_pl pl ON p.id=pl.problemid
        WHERE pl.labelid=#{labelid}
        ORDER BY p.replytime DESC
        <!--<if test="labelid != NULL">-->
            <!--AND pl.labelid=#{labelid}-->
        <!--</if>-->
    </select>
</mapper>
